@charset "UTF-8";
@import url(variable.css);


/* SECTION INFORMAÇÃO */
h2{  
    text-align: center; 
    padding: 5px; 
    font-size: 30px;
    font-style: italic;   
    color: darkgreen;  
}
 
h3{
    text-align: center; 
    font-style: italic;   
}

h4{
     text-align: center; 
     font-style: italic;     
}
 
.secao{
    display: flex;
    text-align: center;
    justify-content: space-between;     
}
 
.div-diversos{
    width: 350px;
    align-content: space-between;
 }   
 
 .div-atividades{
    width: 350px;
    padding: 10px;
 }

 /* FIM SECTION INFORMAÇÃO */
 
.imagens{
    border-radius: 10%;
}

.imagens-fixas{
    margin: 2%;
    cursor: pointer;
 }
 