@charset "utf-8";

.presidente {
    margin-left: 20px;
}

.presidente div {
    float: left;
    margin: 15px;
}

.presidente > div > p {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}
