@charset "utf-8";

.presidente {
    display: flex;
    margin-left: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.presidente h1{
    width: 100%;
    text-align: center;
    margin: 2%;
}

.presidente div {
    float: left;
    margin: 15px;
}

.presidente > div > p {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}
